
/*Main Form*/

.login-form {
    max-width: 100%;
    border: width 2px; 
    border-radius: 12px;
    box-shadow: coral;
    background-color: #f6cf9a;
}

.input-field {
    border-radius: 4px;
    background-color: #949298 ;
    width: 12vw;
    height: 2vw;
    margin: 2%;
}

::placeholder {
    color: #474454;
    padding: 5px;
    font-weight: 300;
}

/*Login Section*/

.login-header {
    color: #474454;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 2%;
}

.login-image {
    padding-left: 15%;
    margin-bottom: 1.15vw;
}

Text, a {
    color: #2F98C2;
    margin-left: 2%;
}

.login-button {
    margin-top: 25%;
    margin-left: 2%;
    background-color: #2F98C2;
}

/*Register Section*/

.Register-Header {
    margin-top: 2vw;;
    margin-bottom: 5vw;
    color: #474454;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

.register-button {
    margin-top: 5%;
    background-color: #2F98C2;
}