
.CurrentProjectGridContainer {
    margin: 10px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: #d0bc8f;
}

.CurrentProjects {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.currentProjectTitle {
    font-size: x-large;
    font-weight: 500;
    color: #474454;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.projectHeading {
    font-size: small;
    color: #474454;
}

.cardContent {
    background-color: lightgrey;
    border-radius: 10px;
}

.addProjectButton {
    margin-top: 25px;
}

/*Modals*/

.modalContent {
    background-color: #474454;
}

.modalHeader {
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projectModalInput {
    margin-bottom: 7px;
}

.projectTextHeaders {
    font-size: medium;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0px 5px 0px;
    color: #d0bc8f;
    font-weight: 600;
}

::placeholder {
    color: lightGrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}